html{
    scroll-behavior: smooth;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: serif;
    text-align: justify;
    text-decoration: none;
    list-style: none;
    font-family: 'Fira Sans',sans-serif;
   
   
}
main{
    background-color: red;
}

#flexi{
    display:flex;
    flex-direction: row;
}
header>div{
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    color:white;
    background-color:black;
    width: 100%;
    height: 15%;
    
}
a{
    color: white;
}
header  i{
    transform: scale(2.2);
    
    z-index: -1;
    color: white;
    
}
header i{
    font-family: 'font-awesome 5 free' ;
    font-weight: 900;
    color:#962626;
     padding: 10px;  
    letter-spacing: 10px;
}
#i1{
    margin-left: 30px;
    font-size: 20px;
}


h3{
    opacity: 0;
     transition: all 5s ease;
    font-size: 30px;
     display: inline-block;
     transform: translateY(50px);
    
 }
 h3.fade
 {
     color: blue;
     opacity: 1;
     transform: translateY(0px);
 }
 
 .large{
    margin: auto;
    padding: auto;
    margin-top: 10%;
    display: block;
    position: relative;
    width: 100vh;
    height: 50vh;
    background-color: #a52711;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 15px;
} 
  
.long {
    position: absolute;
    top: -80px;
    right: 40px;
    width: 50vh;
    height: 70vh;
    background-image: linear-gradient(to top, #29ad0e81,#e90e0e94 );
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}
#h11a{
    margin-top: 20px;
    font-size: 30px;
    font-family: sans-serif;
}
 
.php span{
   
   
   
    color: rgb(163, 16, 16);
   
}
.php {
    position: absolute;
    top: 120px;
    right: 40px;
    width: 150vh;
    height: 73vh;
    background-image: linear-gradient(to top, #29ad0e81,#836c0594 );
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}

table{
    border-collapse: collapse;
    width: 50%;
    color: #eb5013;
    font-family: monospace;
    font-size: 25px;
    
    margin-left: 2px;

}
th{
    background-image: linear-gradient(to top, #ec0eaa81,#0844b394 );
    color: wheat;
    text-align: center;
   
    
}
tr{
    font-size: 20px;
    color: white;
}
table img {
    padding: 3px;
    margin-left: 6px;
}
button{
    background-color: rgb(196, 7, 7);
    padding: 5px;
    width: 200px;
    border-radius: 5px;
}
button:hover{
    color: red;
    background-color: rgb(24, 141, 13);
}